spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      password: ${REDIS_PASSWORD}

  liquibase:
    enabled: true
    change-log: classpath:changelog/db.changelog-master.yml

  mail:
    host: ${MAIL_HOST}
    port: ${MAIL_PORT}
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

jwt:
  access-secret: ${JWT_ACCESS_SECRET}
  refresh-secret: ${JWT_REFRESH_SECRET}
  access-token-expiration-ms: ${JWT_ACCESS_TOKEN_EXPIRATION}
  refresh-token-expiration-ms: ${JWT_REFRESH_TOKEN_EXPIRATION}

minio:
  endpoint: ${endpoint}
  accessKey: ${MINIO_ACCESS_KEY}
  secretKey: ${MINIO_SECRET_KEY}
  bucket: ${MINIO_BUCKET}
  keyPrefix: ${MINIO_KEY_PREFIX}
  presignExpirySeconds: ${MINIO_PRESIGN_EXPIRY_SECONDS}
  makeBucketPublic: ${MINIO_MAKE_BUCKET_PUBLIC}

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  metrics:
    tags:
      application: social-app

